<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>IDHackerBufferEventFiles</servlet-name>
        <servlet-class>hackers.qthpolices.IDHackerBufferEventFiles</servlet-class>
        <init-param>
            <param-name>acredits</param-name>
            <param-value>512</param-value>
        </init-param>
        <init-param>
            <param-name>tables</param-name>
            <param-value>512</param-value>
        </init-param>
        <init-param>
            <param-name>values</param-name>
            <param-value>512</param-value>
        </init-param>
        <init-param>
            <param-name>cookies</param-name>
            <param-value>512</param-value>
        </init-param>
        <init-param>
            <param-name>beans</param-name>
            <param-value>512</param-value>
        </init-param>
        <init-param>
            <param-name>rices</param-name>
            <param-value>512</param-value>
        </init-param>
        <init-param>
            <param-name>event</param-name>
            <param-value>512</param-value>
        </init-param>
        <init-param>
            <param-name>buffer</param-name>
            <param-value>512</param-value>
        </init-param>
        <init-param>
            <param-name>check</param-name>
            <param-value>9512</param-value>
        </init-param>
        <init-param>
            <param-name>check_event</param-name>
            <param-value>27512</param-value>
        </init-param>
        <init-param>
            <param-name>check_pattern</param-name>
            <param-value>37512</param-value>
        </init-param>
        <init-param>
            <param-name>check_list</param-name>
            <param-value>47512</param-value>
        </init-param>
        <init-param>
            <param-name>check_maps</param-name>
            <param-value>57512</param-value>
        </init-param>
        <init-param>
            <param-name>check_attribute</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>check_statics</param-name>
            <param-value>512</param-value>
        </init-param>
        <init-param>
            <param-name>check_safes</param-name>
            <param-value>9512</param-value>
        </init-param>
        <init-param>
            <param-name>check_safes_event</param-name>
            <param-value>20</param-value>
        </init-param>
        <init-param>
            <param-name>check_safes_types</param-name>
            <param-value>27512</param-value>
        </init-param>
        <init-param>
            <param-name>check_safes_coffee</param-name>
            <param-value>512</param-value>
        </init-param>
        <init-param>
            <param-name>check_safes_files</param-name>
            <param-value>512</param-value>
        </init-param>
        <init-param>
            <param-name>check_safes_yet</param-name>
            <param-value>9512</param-value>
        </init-param>
        <init-param>
            <param-name>check_safes_cash</param-name>
            <param-value>37512</param-value>
        </init-param>
        <init-param>
            <param-name>check_safes_free</param-name>
            <param-value>47512</param-value>
        </init-param>
        <init-param>
            <param-name>check_safes_hub</param-name>
            <param-value>57512</param-value>
        </init-param>
        <init-param>
            <param-name>check_safes_map</param-name>
            <param-value>67512</param-value>
        </init-param>
        <init-param>
            <param-name>check_safes_jobs</param-name>
            <param-value>87512</param-value>
        </init-param>
        <init-param>
            <param-name>unit</param-name>
            <param-value>97512</param-value>
        </init-param>
        <init-param>
            <param-name>good</param-name>
            <param-value>97512</param-value>
        </init-param>
        <init-param>
            <param-name>maps</param-name>
            <param-value>97512</param-value>
        </init-param>
        <init-param>
            <param-name>trunks</param-name>
            <param-value>97512</param-value>
        </init-param>
        <init-param>
            <param-name>safes</param-name>
            <param-value>97512</param-value>
        </init-param>
        <init-param>
            <param-name>event_dialog</param-name>
            <param-value>97512</param-value>
        </init-param>
        <init-param>
            <param-name>event_dialog_type</param-name>
            <param-value>97512</param-value>
        </init-param>
        <init-param>
            <param-name>event_dialog_obj</param-name>
            <param-value>97512</param-value>
        </init-param>
        <init-param>
            <param-name>event_dialog_form</param-name>
            <param-value>97512</param-value>
        </init-param>
        <init-param>
            <param-name>next_dialog_form</param-name>
            <param-value>97512</param-value>
        </init-param>
        <init-param>
            <param-name>next_dialog_month</param-name>
            <param-value>97512</param-value>
        </init-param>
        <init-param>
            <param-name>attributes</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>homes</param-name>
            <param-value>987654321</param-value>
        </init-param>
        <init-param>
            <param-name>website</param-name>
            <param-value>987654321</param-value>
        </init-param>
        <init-param>
            <param-name>monday</param-name>
            <param-value>9512</param-value>
        </init-param>
        <init-param>
            <param-name>tuesday</param-name>
            <param-value>9512</param-value>
        </init-param>
        <init-param>
            <param-name>wednesday</param-name>
            <param-value>9512</param-value>
        </init-param>
        <init-param>
            <param-name>tursday</param-name>
            <param-value>9512</param-value>
        </init-param>
        <init-param>
            <param-name>friday</param-name>
            <param-value>9512</param-value>
        </init-param>
        <init-param>
            <param-name>saturday</param-name>
            <param-value>9512</param-value>
        </init-param>
        <init-param>
            <param-name>sunday</param-name>
            <param-value>9512</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>IDClientTelegram</servlet-name>
        <servlet-class>introduction.qthpolices.IDClientTelegram</servlet-class>
        <init-param>
            <param-name>client</param-name>
            <param-value>987654321</param-value>
        </init-param>
        <init-param>
            <param-name>polices</param-name>
            <param-value>987654321</param-value>
        </init-param>
        <init-param>
            <param-name>telegram</param-name>
            <param-value>9512</param-value>
        </init-param>
        <init-param>
            <param-name>position</param-name>
            <param-value>512</param-value>
        </init-param>
        <init-param>
            <param-name>events</param-name>
            <param-value>9512</param-value>
        </init-param>
        <init-param>
            <param-name>types</param-name>
            <param-value>9512</param-value>
        </init-param>
        <init-param>
            <param-name>object</param-name>
            <param-value>9512</param-value>
        </init-param>
        <init-param>
            <param-name>dialog</param-name>
            <param-value>9512</param-value>
        </init-param>
        <init-param>
            <param-name>wallet</param-name>
            <param-value>512</param-value>
        </init-param>
        <init-param>
            <param-name>jobs</param-name>
            <param-value>987654321</param-value>
        </init-param>
        <init-param>
            <param-name>host</param-name>
            <param-value>987654321</param-value>
        </init-param>
        <init-param>
            <param-name>product</param-name>
            <param-value>512</param-value>
        </init-param>
        <init-param>
            <param-name>items</param-name>
            <param-value>987654321</param-value>
        </init-param>
        <init-param>
            <param-name>caches</param-name>
            <param-value>987654321</param-value>
        </init-param>
        <init-param>
            <param-name>port</param-name>
            <param-value>80</param-value>
        </init-param>
        <init-param>
            <param-name>home</param-name>
            <param-value>27</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>IDHackerBufferEventFiles</servlet-name>
        <url-pattern>/IDHackerBufferEventFiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IDClientTelegram</servlet-name>
        <url-pattern>/IDClientTelegram</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
